<!DOCTYPE html>
<html>
  <head>
    <title>RustTogether</title>
    <link rel="stylesheet" href="static/styles.css"/>
    <style>
      body {
        background: url('static/img/crab-{{image}}.jpg'); 
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <header>
      <span class="logo">RustTogether</span>
    </header>
    <div class="container">
      <h1>
        <div class="motivation">
          {{ motivation }}
        </div>
      </h1>
    </div>
  </body>
</html>
