@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600);

* {
  margin: 0;
}

body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  padding: 20px 0;
  background-color: #00607F;
  color: white;
}

.logo {
  font-family: 'Pacifico', sans-serif;
}

.motivation {
  width: 80%;
  padding: 15px 10px;
  margin: 150px auto;
  background-color: rgba(255, 206, 0, .5);
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
}
